
<!-- For large video

<div class="video">
  <div class="video-wrapper">
      <div id="player-wrapper"></div>
  </div>
</div>
-->


<section>
    <head>
  <link href='http://fonts.googleapis.com/css?family=Lusitana:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Merriweather+Sans:400,300,300italic,400italic,700italic,700,800,800italic' rel='stylesheet' type='text/css'>
</head>

<article class="type-system-serif">

<!-- inside the article column -->
<div class="video">
  <div class="video-wrapper">
      <div id="player-wrapper"></div>
  </div>
</div> <br>
<!-- inside the article column -->
  <h1><%= image_tag "https://img.youtube.com/vi/#{@video.uid}/mqdefault.jpg", size: "60x40", alt: @video.title, class: 'yt_preview', :"data-uid" => @video.uid%> <%= @video.title %></h1>
  <p class="date"><%= @video.author %> | <%= @video.duration %> | <%= @video.category.name %></p>
  <p><%=simple_format @video.description %>
  </p>
  
  <hr>
  <!--
  <div class="comment">
  <div class="comment-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1.png" alt="Logo image">
  </div>
  <div class="comment-content">
    <h1>First Comment Title or Author</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
    <p class="comment-detail">Date or details about this post</p>
  </div>
</div>

<div class="comment">
  <div class="comment-image">
    <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2.png" alt="Logo image">
  </div>
  <div class="comment-content">
    <h1>Another One</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio, aspernatur, quia modi minima debitis tempora ducimus quam vero impedit alias earum nemo error tenetur sed.</p>
    <p class="comment-detail">Date or details about this post</p>
  </div>
</div> -->

</article>
  <aside>
    <% @videos.each do |video|%>
     <%= link_to image_tag("https://img.youtube.com/vi/#{video.uid}/mqdefault.jpg"), video_path(video), :data => { :no_turbolink => true }  %>
    <% end %>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- styleuploadTV -->
<ins class="adsbygoogle"
     style="display:inline-block;width:280px;height:230px"
     data-ad-client="ca-pub-6253243143840655"
     data-ad-slot="1369096471"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>



  	<img src="https://img.youtube.com/vi/RuY4MSh1V-I/mqdefault.jpg">

</aside>

</section>
