<header class="navigation">
  <div class="navigation-wrapper">
    <%= link_to image_tag("http://res.cloudinary.com/styleupload/image/upload/v1416281238/styleuploadtv/bunintheoven/logo.png"), root_path, class: "logo"%>
    
    <a href="" class="navigation-menu-button" id="js-mobile-menu">MENU</a>
    <div class="nav">
      <ul id="navigation-menu">
        
        <li class="nav-link more"><a href="javascript:void(0)">Month 1</a>
          <ul class="submenu">
            <li><%= link_to 'Week 1', category_path(1)%></li>
            <li><%= link_to 'Week 2', category_path(2)%></li>
            <li><%= link_to 'Week 3', category_path(3)%></li>
            <li><%= link_to 'Week 4', category_path(4)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 2</a>
          <ul class="submenu">
            <li><%= link_to 'Week 5', category_path(5)%></li>
            <li><%= link_to 'Week 6', category_path(6)%></li>
            <li><%= link_to 'Week 7', category_path(7)%></li>
            <li><%= link_to 'Week 8', category_path(8)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 3</a>
          <ul class="submenu">
            <li><%= link_to 'Week 9', category_path(9)%></li>
            <li><%= link_to 'Week 10', category_path(10)%></li>
            <li><%= link_to 'Week 11', category_path(11)%></li>
            <li><%= link_to 'Week 12', category_path(12)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 4</a>
          <ul class="submenu">
            <li><%= link_to 'Week 13', category_path(13)%></li>
            <li><%= link_to 'Week 14', category_path(14)%></li>
            <li><%= link_to 'Week 15', category_path(15)%></li>
            <li><%= link_to 'Week 16', category_path(16)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 5</a>
          <ul class="submenu">
            <li><%= link_to 'Week 17', category_path(17)%></li>
            <li><%= link_to 'Week 18', category_path(18)%></li>
            <li><%= link_to 'Week 19', category_path(19)%></li>
            <li><%= link_to 'Week 20', category_path(20)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 6</a>
          <ul class="submenu">
            <li><%= link_to 'Week 21', category_path(21)%></li>
            <li><%= link_to 'Week 22', category_path(22)%></li>
            <li><%= link_to 'Week 23', category_path(23)%></li>
            <li><%= link_to 'Week 24', category_path(24)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 7</a>
          <ul class="submenu">
            <li><%= link_to 'Week 25', category_path(25)%></li>
            <li><%= link_to 'Week 26', category_path(26)%></li>
            <li><%= link_to 'Week 27', category_path(27)%></li>
            <li><%= link_to 'Week 28', category_path(28)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 8</a>
          <ul class="submenu">
            <li><%= link_to 'Week 29', category_path(29)%></li>
            <li><%= link_to 'Week 30', category_path(30)%></li>
            <li><%= link_to 'Week 31', category_path(31)%></li>
            <li><%= link_to 'Week 32', category_path(32)%></li>
          </ul>
        </li>

        <li class="nav-link more"><a href="javascript:void(0)">Month 9</a>
          <ul class="submenu">
            <li><%= link_to 'Week 33', category_path(33)%></li>
            <li><%= link_to 'Week 34', category_path(34)%></li>
            <li><%= link_to 'Week 35', category_path(35)%></li>
            <li><%= link_to 'Week 36', category_path(36)%></li>
          </ul>
        </li>

      </ul>
    </div>

  </div>
</header>